<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="peopletbody">
    <%= render 'people_table', :people => @people %>
  </tbody>
</table>

<br>
<a href="#" id="refresh">Refresh With Ajax</a>
<!-- this is a ajax remote rails link -->
<%= link_to "Populate More People with Ajax", populate_people_path, remote: true %>
